<form [formGroup]='passwordForm' (ngSubmit)="changePassword()">
    <label for="oldPassword">Old Password</label>
     <input 
            id="oldPassword" 
            type="text" 
            class="form-control"
            formControlName="oldPassword">
             <div *ngIf="passwordForm.controls.oldPassword.touched && passwordForm.controls.oldPassword.errors">
                  <div *ngIf="passwordForm.controls.oldPassword.errors.required" class="alert alert-danger">
                        Old password is required.
                  </div>
                 <div *ngIf="passwordForm.controls.oldPassword.errors.passwordCheckBad" class="alert alert-danger">
                        Password entered is not valid.
                  </div>
             </div>
     <label for="newPassword">New Password</label>
     <input 
            id="newPassword" 
            type="text" 
            class="form-control"
            formControlName="newPassword">
            <div *ngIf="passwordForm.controls.newPassword.touched && passwordForm.controls.newPassword.errors">
                <div *ngIf="passwordForm.controls.newPassword.errors.required" class="alert alert-danger">
                    New password is required.
                </div>
               <div *ngIf="passwordForm.controls.newPassword.errors.cannotContainSpace" class="alert alert-danger">
                    New password cannot contain spaces.
                </div>
               <div *ngIf="passwordForm.controls.newPassword.errors.minlength" class="alert alert-danger">
                    New password cannot be less than {{this.minLength}} in length.
                </div>
          </div>
     <label for="verifyPassword">Verify Password</label>
     <input 
            id="verifyPassword" 
            type="text" 
            class="form-control"
            formControlName="verifyPassword">
            <div *ngIf="passwordForm.controls.verifyPassword.touched && passwordForm.controls.verifyPassword.errors">
                <div *ngIf="passwordForm.controls.verifyPassword.errors.required" class="alert alert-danger">
                    Verification of the password is required.
                </div>
            </div>
           <div *ngIf="passwordForm.pending">
                Verifying that passwords match…
            </div>
              <div *ngIf="passwordForm.passwordMismatch" class="alert alert-danger">
                    The password you entered does not match the new password.
              </div>
            <br/><br/>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>